.page-header {
  padding: 0;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__logo {
    margin-top: 12px;

    svg {
      width: 160px;
      height: 52px;
    }
  }

  &__nav-list {
    margin-top: 16px;
  }

  &__nav-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-decoration: none;
    color: $grey;

    &:not(:last-child) {
      margin-right: 64px;
    }


  }

  &__menu-button {
    display: none;
  }
}

@media (max-width: $tablet-max-width) {
  .page-header {
    &__wrapper {
      align-items: center;
    }

    &__logo {
      svg {
        width: 93px;
        height: 26px;
      }
    }

    &__nav-list {
      margin-top: 0;
      padding: 0 16px;
    }

    &__nav-item {
      &:not(:last-child) {
        margin-right: 4vw;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .page-header {
    position: relative;

    &__wrapper {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    &__nav-list {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      position: absolute;
      top: 90px;
      right: 0;
      background-color: $background-main;
      width: 100%;
      padding: 0;
      transition: transform 0.26s ease;
      transform: scaleY(1);

      &--hide {
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.26s ease;
      }
    }

    &__nav-item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }

    &__menu-button {
      display: block;
      border: none;
      background-color: transparent;
      background-image: url("../img/burger.svg");
      background-repeat: no-repeat;
      width: 19px;
      height: 16px;
      margin-left: 20px;
      cursor: pointer;
    }

    &__buttons {
      display: flex;
      align-items: center;
    }
  }
}

