.content {
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

@media (max-width: $tablet-max-width) {
  .content {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: $mobile-max-width) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
