.tabs {
  position: relative;

  &:before {
    position: absolute;
    top: 31px;
    left: 4px;
    display: block;
    content: "";
    width: 99%;
    height: 0.5px;
    background-color: #505050;
  }

  & > input[type="radio"] {
    display: none;
  }

  & > div {
    display: none;
  }

  @for $i from 0 to 10 {
    #tab-btn-#{$i}:checked ~ #content-#{$i} {
      display: block;
    }
  }

  & > label {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-bottom: 8px;

    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $grey;

    &:not(:last-of-type) {
      margin-right: 70px;
    }
  }

  & > input[type="radio"]:checked + label {
    color: $white;
    border: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(180deg, #FBECDF 0%, #BCA589 88.2%, #806E5A 100%) 1;
  }

}

@media (max-width: $tablet-max-width) {
  .tabs {
    &:before {
      display: none;
    }

    & > label {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .tabs {
    & > label {
      font-size: 12px;
      line-height: 100%;
      color: $white;

      border: none;
      border-image: none;
      border-radius: 8px;

      padding: 1px;
      background: linear-gradient(180deg, #FBECDF 0%, #BCA589 88.2%, #806E5A 100%);
      cursor: pointer;
      transition: 0.5s;

      &:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }

    &__btn-wrapper {
      display: block;
      background-color: $background-main;
      border-radius: 8px;
      padding: 8px;
      transition: 0.5s;

      span {
        background: linear-gradient(180deg, #FBECDF 0%, #BCA589 88.2%, #806E5A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s;
        color: $grey-dark;
      }
    }

    & > input[type="radio"]:checked + label {
      border-bottom: none;
      border-image: none;

      .tabs__btn-wrapper {
        background-color: transparent;
        transition: 0.5s;

        span {
          color: $black-text;
          background: none;
          -webkit-background-clip: unset;
          -webkit-text-fill-color: unset;
          transition: 0.5s;
        }
      }
    }
  }
}
