mixin head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="format-detection" content="telephone=no")
  meta(name="description" content="Салон красоты Персона на Дубровке")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  block head
  title= 'Салон красоты Персона на Дубровке'

  link(rel="preload" href="fonts/jost-regular.woff2" as="font" crossorigin="anonymous" type="font/woff")
  link(rel="preload" href="fonts/jost-extralight.woff2" as="font" crossorigin="anonymous" type="font/woff")
  link(rel="preload" href="fonts/jost-light.woff2" as="font" crossorigin="anonymous" type="font/woff")
  link(rel="preload" href="fonts/jost-medium.woff2" as="font" crossorigin="anonymous" type="font/woff")
  link(rel="preload" href="fonts/jost-bold.woff2" as="font" crossorigin="anonymous" type="font/woff")

  link(href="css/style.min.css" rel="stylesheet")
