include ./about
include ./welcome
include ./portfolio
include ./services
include ./specialists
include ./reviews
include ./consultation
include ./contacts

mixin main
  main.page-main
    +about
    +welcome
    +portfolio
    +services
    +specialists
    +reviews
    +consultation
    +contacts
